body {
  background-color: #dcecfa;
  margin: 0px 0px 0px 0px;
}

/* #topdiv {
  background-color: #C9A9A6;
  width:100%;
  aspect-ratio: 10/1;
} */

#pagetitle {
  font-family: "Rye", cursive;
  font-size: 80px;
  text-align: center;
  text-decoration: underline;
}

#intro {
  font-family: "Berkshire Swash", cursive;
  font-size: 45px;
  color: #64300a;
}

#moviesdropdownlabel {
  font-family: "Berkshire Swash", cursive;
  font-size: 70px;
}

#moviesdropdown {
  color: #23395d;
  background-color: #dcecfa;
  width: 800px;
  aspect-ratio: 8/0.6;
  font-size: 40px;
  font-family: "Berkshire Swash", cursive;
}

#moviesdropdown:hover {
  transform: scale(1.047);
  transition-duration: 1s;
}

.alignbutton {
  text-align: center;
}

#get {
  width: 400px;
  height: 100px;
  font-size: 70px;
  color: #29e7d7;
  background-color: #9429f2;
}

#get:hover {
  background-color: #ecd32b;
  color: rgb(22, 22, 144);
  transform: scale(1.5);
  transition-duration: 2s;
}

#remover {
  height: 2000px;
  display: grid;
  background-color: azure;
  margin: 20px 20px 20px 20px;
  grid-template-rows: 100px 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}

#movie-title {
  grid-column: 2/5;
  text-align: center;
  text-shadow: 3px 3px #23395d;
  font-size: 5rem;
  align-self: center;
}
#movie-poster {
  grid-row: 2/5;
  aspect-ratio: 1/3;
  justify-self: center;
  /* put a margin on the poster */
}

#movieposter:hover {
}

#movie-tagline {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}

#movie-overview {
  grid-row: 3/4;
  grid-column: 2/5;
  font-size: 40px;
  align-self: center;
  margin: 20px 20px 0px 20px;
}

#movie-release-date {
  grid-column: 2/3;
  grid-row: 4/5;
}
#movie-genre {
  grid-column: 3/4;
  grid-row: 4/5;
}
#movie-runtime {
  grid-column: 4/5;
  grid-row: 4/5;
}
#movie-revenue {
  grid-column: 2/3;
  grid-row: 5/6;
}
#movie-budget {
  grid-column: 3/4;
  grid-row: 5/6;
}
#movie-homepage {
  grid-column: 4/5;
  grid-row: 6/7;
}
#movie-ranking {
  grid-column: 4/5;
  grid-row: 5/6;
}
#movie-trailer {
  grid-column: 1/2;
  grid-row: 7/8;
}

#movie-collection {
  grid-column: 3/4;
  grid-row: 7/8;
}

#movie-collection-poster {
  grid-column: 2/3;
  grid-row: 7/8;
  aspect-ratio: 2/3;
  width: 100px;
}
